<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
<div>
    <h1>Users list</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Operations</th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.firstName}"></td>
            <td th:utext="${user.lastName}"></td>
            <td th:utext="${user.email}"></td>
            <td><a th:href="@{user-update/{id}(id=${user.id})}">Update</a></td>
            <td><a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a></td>
        </tr>
    </table>
    <br>
    <input type="button" value="Add" onclick="window.location.href = 'addUser'"/>
</div>
</body>
</html>